root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.mdx]
trim_trailing_whitespace = false
max_line_length = off

[*.{yml,yaml}]
indent_size = 2

[*.json]
indent_size = 2

[*.prisma]
indent_size = 2

[*.sql]
indent_size = 2

[*.py]
indent_size = 4

[*.go]
indent_style = tab
indent_size = 4

[Makefile]
indent_style = tab

[*.sh]
indent_size = 2
shell_variant = bash

[{package.json,*.lock}]
indent_size = 2

[*.{css,scss}]
indent_size = 2

[docker-compose*.{yml,yaml}]
indent_size = 2
